In [4]:
import pandas as pd

# 1 Leer .csv de un URL con pandas

website: https://www.football-data.co.uk/data.php

In [8]:
# Leer 1 archivo csv de un website 
df_liga = pd.read_csv('https://www.football-data.co.uk/mmz4281/2425/E0.csv')

In [9]:
# Mostrar dataframe 
df_liga

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,16/08/2024,20:00,Man United,Fulham,1,0,H,0,0,...,1.86,2.07,1.83,2.11,1.88,2.11,1.82,2.05,1.90,2.08
1,E0,17/08/2024,12:30,Ipswich,Liverpool,0,2,A,0,0,...,2.05,1.88,2.04,1.90,2.20,2.00,1.99,1.88,2.04,1.93
2,E0,17/08/2024,15:00,Arsenal,Wolves,2,0,H,1,0,...,2.02,1.91,2.00,1.90,2.05,1.93,1.99,1.87,2.02,1.96
3,E0,17/08/2024,15:00,Everton,Brighton,0,3,A,0,1,...,1.87,2.06,1.86,2.07,1.92,2.10,1.83,2.04,1.88,2.11
4,E0,17/08/2024,15:00,Newcastle,Southampton,1,0,H,1,0,...,1.87,2.06,1.88,2.06,1.89,2.10,1.82,2.05,1.89,2.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,E0,26/10/2024,17:30,Everton,Fulham,1,1,D,0,0,...,1.95,1.98,1.95,1.97,2.01,1.99,1.97,1.92,2.01,1.98
86,E0,27/10/2024,14:00,Chelsea,Newcastle,2,1,H,1,1,...,2.01,1.89,2.06,1.87,2.06,1.94,1.98,1.88,2.06,1.92
87,E0,27/10/2024,14:00,Crystal Palace,Tottenham,1,0,H,1,0,...,1.95,1.95,1.96,1.96,1.97,1.98,1.94,1.93,2.01,1.98
88,E0,27/10/2024,14:00,West Ham,Man United,2,1,H,0,0,...,2.06,1.84,2.05,1.88,2.09,1.91,2.01,1.86,2.09,1.91
89,E0,27/10/2024,16:30,Arsenal,Liverpool,2,2,D,2,1,...,1.95,1.95,1.96,1.96,1.99,1.99,1.93,1.93,1.99,2.00

In [10]:
# Cambiar nombre de columnas 
df_liga.rename(columns = {'Date': 'date', 'HomeTeam' : 'home_team', 'AwayTeam' : 'away_team', 'FTHG' : 'home_goals', 'FTAG' : 'away_goals'}, inplace=True)

In [11]:
# Mostrar dataframe 
df_liga

,Div,date,Time,home_team,away_team,home_goals,away_goals,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,16/08/2024,20:00,Man United,Fulham,1,0,H,0,0,...,1.86,2.07,1.83,2.11,1.88,2.11,1.82,2.05,1.90,2.08
1,E0,17/08/2024,12:30,Ipswich,Liverpool,0,2,A,0,0,...,2.05,1.88,2.04,1.90,2.20,2.00,1.99,1.88,2.04,1.93
2,E0,17/08/2024,15:00,Arsenal,Wolves,2,0,H,1,0,...,2.02,1.91,2.00,1.90,2.05,1.93,1.99,1.87,2.02,1.96
3,E0,17/08/2024,15:00,Everton,Brighton,0,3,A,0,1,...,1.87,2.06,1.86,2.07,1.92,2.10,1.83,2.04,1.88,2.11
4,E0,17/08/2024,15:00,Newcastle,Southampton,1,0,H,1,0,...,1.87,2.06,1.88,2.06,1.89,2.10,1.82,2.05,1.89,2.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,E0,26/10/2024,17:30,Everton,Fulham,1,1,D,0,0,...,1.95,1.98,1.95,1.97,2.01,1.99,1.97,1.92,2.01,1.98
86,E0,27/10/2024,14:00,Chelsea,Newcastle,2,1,H,1,1,...,2.01,1.89,2.06,1.87,2.06,1.94,1.98,1.88,2.06,1.92
87,E0,27/10/2024,14:00,Crystal Palace,Tottenham,1,0,H,1,0,...,1.95,1.95,1.96,1.96,1.97,1.98,1.94,1.93,2.01,1.98
88,E0,27/10/2024,14:00,West Ham,Man United,2,1,H,0,0,...,2.06,1.84,2.05,1.88,2.09,1.91,2.01,1.86,2.09,1.91
89,E0,27/10/2024,16:30,Arsenal,Liverpool,2,2,D,2,1,...,1.95,1.95,1.96,1.96,1.99,1.99,1.93,1.93,1.99,2.00

# 2 Leer .csv de multiples URLs con pandas

- https://www.football-data.co.uk/mmz4281/2425/E0.csv
- https://www.football-data.co.uk/mmz4281/2425/E1.csv

In [12]:
# Estructura de un link 
"https://www.football-data.co.uk/mmz4281/" + "2425" + "/" + "E0" + ".csv"

'https://www.football-data.co.uk/mmz4281/2425/E0.csv'

In [13]:
# crear una variable root 
root = "https://www.football-data.co.uk/mmz4281/"

## 2.1 Multiples ligas (Links)

- https://www.football-data.co.uk/mmz4281/2425/E0.csv
- https://www.football-data.co.uk/mmz4281/2425/E1.csv
- https://www.football-data.co.uk/mmz4281/2425/E2.csv
- https://www.football-data.co.uk/mmz4281/2425/E3.csv
- https://www.football-data.co.uk/mmz4281/2425/EC.csv

In [14]:
#  Crear Listas de ligas 
leagues = ['E0', 'E1', 'E2', 'E3', 'EC']
frames = []

# Hacer un loop en la lista ligas, leer multiples csv y adjuntarlo a una lista 
for league in leagues: 
    df = pd.read_csv(root + '2425' + '/' + league + '.csv')
    frames.append(df)

In [15]:
# tamaño de los frames 
len(frames)

5

In [16]:
# Mostras 1er, 2do y 3er elementos
frames[4]

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,EC,10/08/2024,15:00,Aldershot,Forest Green,3,3,D,2,1,...,1.83,1.98,1.87,1.99,1.87,2.00,1.83,1.99,1.88,2.02
1,EC,10/08/2024,15:00,Altrincham,Woking,1,0,H,1,0,...,1.83,1.98,1.83,2.04,1.85,2.04,1.82,1.95,1.86,2.14
2,EC,10/08/2024,15:00,Boston Utd,Rochdale,0,3,A,0,2,...,1.85,1.95,1.88,1.98,1.88,1.98,1.84,1.93,1.92,2.00
3,EC,10/08/2024,15:00,Dag and Red,Wealdstone,2,1,H,0,0,...,1.90,1.90,1.89,1.95,1.91,1.95,1.87,1.88,1.91,2.06
4,EC,10/08/2024,15:00,Fylde,Solihull,3,2,H,1,2,...,1.78,2.03,1.76,2.10,1.80,2.10,1.76,2.01,1.80,2.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,EC,26/10/2024,15:00,Oldham,Dag and Red,1,0,H,1,0,...,1.90,1.90,1.89,1.96,1.96,1.96,1.88,1.89,2.00,1.98
188,EC,26/10/2024,15:00,Southend,Tamworth,2,0,H,2,0,...,1.85,1.95,1.88,1.97,1.88,1.98,1.83,1.94,1.92,2.02
189,EC,26/10/2024,15:00,Woking,Forest Green,1,1,D,0,1,...,2.03,1.78,2.05,1.81,2.05,1.81,2.00,1.77,2.14,1.81
190,EC,26/10/2024,15:00,Yeovil,Maidenhead,3,1,H,1,1,...,1.95,1.85,1.97,1.88,1.97,1.94,1.92,1.86,1.98,2.00
191,EC,26/10/2024,17:30,Fylde,Altrincham,0,5,A,0,3,...,2.00,1.80,1.97,1.88,2.08,1.88,1.99,1.80,2.00,1.90

## 2.2 Multiples Temporadas

In [17]:
#  Crear Listas de ligas 
leagues = ['E0', 'E2', 'E3']
frames = []

# Hacer loop a un rango de temporadas e insertar una nueva columna 
for league in leagues: 
    for season in range(19, 25):
        df = pd.read_csv(root + str(season) + str(season + 1) + '/' + league + '.csv')
        df.insert(1, 'season', season)
        frames.append(df)

In [18]:
# Total de frames (6 temporadas x 3 ligas)
len(frames)

18

In [19]:
# Mostrar 1er y ultimo elemento (columna season fue creada )
frames[17]

,Div,season,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E3,24,09/08/2024,20:00,Chesterfield,Swindon,1,1,D,1,...,1.83,2.03,1.86,2.03,1.89,2.05,1.83,1.97,1.91,2.06
1,E3,24,10/08/2024,15:00,AFC Wimbledon,Colchester,4,2,H,3,...,1.75,2.05,1.83,2.07,1.83,2.17,1.76,2.05,1.86,2.12
2,E3,24,10/08/2024,15:00,Barrow,Crewe,1,0,H,1,...,1.88,1.98,1.87,2.02,1.90,2.04,1.84,1.95,1.88,2.09
3,E3,24,10/08/2024,15:00,Cheltenham,Newport County,3,2,H,2,...,1.93,1.93,1.96,1.93,1.98,1.96,1.91,1.88,2.05,1.92
4,E3,24,10/08/2024,15:00,Doncaster,Accrington,4,1,H,1,...,1.93,1.93,1.95,1.93,1.95,1.98,1.89,1.89,1.98,2.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157,E3,24,26/10/2024,15:00,Grimsby,Milton Keynes Dons,1,3,A,1,...,1.93,1.93,1.94,1.93,1.98,1.95,1.91,1.88,1.98,1.99
158,E3,24,26/10/2024,15:00,Newport County,Fleetwood Town,0,0,D,0,...,1.95,1.90,1.93,1.93,1.98,1.95,1.89,1.91,2.01,1.98
159,E3,24,26/10/2024,15:00,Notts County,Harrogate,1,0,H,0,...,1.88,1.98,1.86,2.01,1.89,2.07,1.83,1.96,1.98,2.00
160,E3,24,26/10/2024,15:00,Port Vale,AFC Wimbledon,3,2,H,2,...,1.98,1.88,1.96,1.91,2.00,1.95,1.92,1.88,2.05,1.92
161,E3,24,26/10/2024,15:00,Swindon,Gillingham,1,1,D,0,...,2.00,1.85,2.06,1.83,2.07,1.85,2.02,1.79,2.10,1.88

# 3 Organizar Data en un Diccionario

In [20]:
# Crear un diccionario con nombre original de liga como llave 
dict_countries = {'Spanish La Liga': 'SP1', 'Spanish Segunda Division':'SP2', 'German BundesLiga' : 'D1', 'English Premier League': 'E0', 'English Premier League 1': 'E2', 'English Premier League 2': 'E3'}

In [21]:
# obtener un elemento del diccionario
dict_countries['Spanish La Liga']

'SP1'

In [22]:
dict_historical_data={}

#  Crear Listas de ligas 
#leagues = ['E0', 'E2', 'E3']

# hacer loop sobre llaves de diccionario 
for league in dict_countries: 
    frames = []
    for season in range(19, 25):
        df = pd.read_csv(root + str(season) + str(season + 1) + '/' + dict_countries[league] + '.csv')
        df.insert(1, 'season', season)
        frames.append(df)
    df_concat = pd.concat(frames)
    dict_historical_data[league] = df_concat

In [23]:
# mostrar dataframe dentro del dist_historical_data
dict_historical_data['English Premier League']

,Div,season,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,...,1XBCH,1XBCD,1XBCA,BFECH,BFECD,BFECA,BFEC>2.5,BFEC<2.5,BFECAHH,BFECAHA
0,E0,19,09/08/2019,20:00,Liverpool,Norwich,4,1,H,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E0,19,10/08/2019,12:30,West Ham,Man City,0,5,A,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,E0,19,10/08/2019,15:00,Bournemouth,Sheffield United,1,1,D,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,E0,19,10/08/2019,15:00,Burnley,Southampton,3,0,H,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,E0,19,10/08/2019,15:00,Crystal Palace,Everton,0,0,D,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,E0,24,26/10/2024,17:30,Everton,Fulham,1,1,D,0,...,2.77,3.49,2.62,2.82,3.50,2.76,1.86,2.14,2.01,1.98
86,E0,24,27/10/2024,14:00,Chelsea,Newcastle,2,1,H,1,...,1.77,4.32,4.30,1.83,4.20,4.50,1.54,2.80,2.06,1.92
87,E0,24,27/10/2024,14:00,Crystal Palace,Tottenham,1,0,H,1,...,3.86,4.08,1.90,3.95,4.00,1.98,1.59,2.68,2.01,1.98
88,E0,24,27/10/2024,14:00,West Ham,Man United,2,1,H,0,...,3.45,3.82,2.09,3.50,3.75,2.20,1.69,2.42,2.09,1.91
89,E0,24,27/10/2024,16:30,Arsenal,Liverpool,2,2,D,2,...,2.34,3.37,3.27,2.32,3.50,3.45,1.94,2.04,1.99,2.00

In [24]:
dict_historical_data.keys()

dict_keys(['Spanish La Liga', 'Spanish Segunda Division', 'German BundesLiga', 'English Premier League', 'English Premier League 1', 'English Premier League 2'])